<!DOCTYPE html>
<html>
<head>
    <title>Apply Job</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2>Apply For Job</h2>
<form method="POST" enctype="multipart/form-data">
    <label>Select Job</label>
    <select name="job">
        <option>Python Developer</option>
        <option>Web Developer</option>
        <option>Data Analyst</option>
        <option>Software Developer</option>
    </select>
    <br><br>
    <label>Upload Resume</label>
    <input type="file" name="resume" required>
    <br><br>
    <button type="submit">Submit Application</button>
</form>
</div>
</body>
</html>
